h1{
	color: #ffffff;
	font-size: 100pt;
}
.firstTable{
	border-width: 4px;
	border-color: #ffffff;

	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 100px;
	margin-right: auto;
	text-align: vertical;
	
}
body{
	background-color: #ffe2af;
background-size: 100%
background-repeat: no-repeat;
background-position:;
.slider {
  width: 300px;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  
  overflow-x: auto;
  scroll-snap-type: x mandatory;
   
  scroll-behavior: smooth;


}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.slides img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}



}
ul{
	list-style-type: none;
	background-color: #f8ce85;
	overflow: hidden;
}
li a{
	float: left;
	display: block;
	width: 100px;
	background-color: #f8ce85;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;

}
li a:hover{
	background-color:#d6a679;
}
.active{
	border-bottom: 2px solid #d6a679;
}

h2{
	color: #b98864;
	font-size: 40pt;
	text-align: center;
}

h3{
	color: #b98864;
	font-size: 18pt;
	text-align: center;
}
h4{
	color:#b98864;
	font-size: 31pt;
	text-align: center;
}

h5{
	color:#ffe2af;
	font-size: 31pt;
}
h6{
	color: #ffffff;
	font-size: 178pt;
	background-color: #f0b27a;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 50px;
	margin-right:50px ;
	text-align: center;
}
img:hover{
	opacity: 0.75;
}
h7{
	color: #b98864;
	font-size: 75pt;
	text-align: center;
}
