h1{
	color: #ffffff;
	font-size: 100pt;
}
.firstTable{
	border-width: 4px;
	border-color: #ffffff;

	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 100px;
	margin-right: auto;
	text-align: vertical;
	



	background-color: #f0b27a;
}
body{
	background-color: #ffe2af;
background-size: 100%
background-repeat: no-repeat;
background-position:;

}
ul{
	list-style-type: none;
	background-color: #f8ce85;
	overflow: hidden;
}
li a{
	float: left;
	display: block;
	width: 100px;
	background-color: #f8ce85;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;

}
li a:hover{
	background-color:#d6a679;
}
.active{
	border-bottom: 2px solid #999;
}

h2{
	color: #b98864;
	font-size: 40pt;
	text-align: center;
}

h3{
	color: #b98864;
	font-size: 18pt;
	text-align: center;
}
h4{
	color:#b98864;
	font-size: 31pt;
	text-align: center;
}

h5{
	color:#ffe2af;
	font-size: 31pt;
}